body {
  margin: 0;
  overflow: hidden;
}

.menu {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0 5px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  z-index: 1;

  outline: none;
}
